@font-face {
    font-family: 'circular-std-bold';
    src:url('../fonts/circular-std-bold/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circular-std-bold/CircularStd-Bold.otf')  format('opentype'),
    url('../fonts/circular-std-bold/CircularStd-Bold.woff') format('woff'),
    url('../fonts/circular-std-bold/CircularStd-Bold.ttf')  format('truetype'),
    url('../fonts/circular-std-bold/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-book';
    src:url('../fonts/circular-std-book/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circular-std-book/CircularStd-Book.otf')  format('opentype'),
    url('../fonts/circular-std-book/CircularStd-Book.woff') format('woff'),
    url('../fonts/circular-std-book/CircularStd-Book.ttf')  format('truetype'),
    url('../fonts/circular-std-book/CircularStd-Book.svg#CircularStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
