<div class="best-sellers-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Os mais vendidos</h2>
            </div>
        </div>
        <div class="row">
            <product-item class="col-xl-3 col-md-4 col-sm-6 col-12"></product-item>
            <product-item class="col-xl-3 col-md-4 col-sm-6 col-12"></product-item>
            <product-item class="col-xl-3 col-md-4 col-sm-6 col-12"></product-item>
            <product-item class="col-xl-3 col-md-4 col-sm-6 col-12"></product-item>
        </div>
    </div>
</div>
