@import "../../assets/scss/variables";

div.want-to-be-partner-wrapper{
    position: relative;
    padding: 50px 0px;

    h1.title{
        font-family: $circular-bold;
        font-size: 30px;
        color: #001f12;
    }
}
