<div class="header-wrapper">
    <div class="nav-default">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <nav class="nav">
                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a>
                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/quem-somos']" routerLinkActive="active">Quem Somos</a>
                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/quero-ser-parceiro']" routerLinkActive="active">Quero ser parceiro</a>
                    </nav>
                </div>
                <div class="col-md-6">
                    <nav class="nav justify-content-end">
                        <a class="nav-link" href="javascript:void(0);">Baixe nosso catálogo</a>
                        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/fale-conosco']" routerLinkActive="active">Fale conosco</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="brand">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="javascript:void(0);">
                        <img src="assets/images/logo.png" alt="Produtos Forever">
                    </a>
                </div>
                <div class="col-md-10">

                </div>
            </div>
        </div>
    </div>
    <div class="categories">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <ul class="navbar-nav first-nav mr-auto">
                                <li class="nav-item active"><a class="nav-link" href="#">Bebidas <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Nutrição</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Gerenciamento de Peso</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Cuidados Pessoais</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Hidratantes</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="navbar-nav last-nav mr-auto justify-content-end">
                                <li class="nav-item"><a class="nav-link" href="#">Comprar Agora</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
