<div class="about-us-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about-us.png" class="w-100" alt="Quem Somos">
            </div>
            <div class="col-md-6">
                <h2>Sobre a Forever</h2>
                <p class="short-description">BEM-VINDO A FOREVER LIVING PRODUCTS BRASIL</p>
                <p class="description">A Forever Living Products Brasil iniciou suas operações em 1996. A grande aceitação de seus produtos, seu excelente Plano de Marketing e a dedicação de seus FBOs fizeram com que o Brasil atingisse por inúmeras vezes o primeiro lugar de vendas mundias dentre mais de 160 países onde a Forever atua.</p>
                <a href="javascript:void(0);">Clique e saiba mais</a>
            </div>
        </div>
    </div>
</div>
