<div class="footer-wrapper">
    <div class="widgets-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/logo-footer.png" alt="Logo">
                    <p>Selmo Silvestre</p>
                    <p>Celular <a href="tel:+55 (62) 98175-2607">+55 (62) 98175-2607</a></p>
                    <p>E-mail <a href="mail:selmocacilda@yahoo.com.br">selmocacilda@yahoo.com.br</a></p>
                </div>
                <div class="col-md-3">
                    <h2>Institucional</h2>
                    <nav>
                        <ul>
                            <li><a href="javascript:void(0);" [routerLink]="['/quem-somos']">Quem Somos</a></li>
                            <li><a href="javascript:void(0);" [routerLink]="['/quero-ser-parceiro']">Quero ser parceiro</a></li>
                            <li><a href="javascript:void(0);">Baixar nosso catálogo</a></li>
                            <li><a href="javascript:void(0);">Solicite um orçamento</a></li>
                            <li><a href="javascript:void(0);" [routerLink]="['/fale-conosco']">Fale Conosco</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <h2>Linha de Produtos</h2>
                    <nav>
                        <ul>
                            <li><a href="javascript:void(0);">Bebidas</a></li>
                            <li><a href="javascript:void(0);">Nutrição</a></li>
                            <li><a href="javascript:void(0);">Gerenciamento de Peso</a></li>
                            <li><a href="javascript:void(0);">Cuidados Pessoais</a></li>
                            <li><a href="javascript:void(0);">Proteção para a pele</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <h2>Os mais vendidos</h2>
                    <nav>
                        <ul>
                            <li><a href="javascript:void(0);">Aloe Vera Gel</a></li>
                            <li><a href="javascript:void(0);">Forever Bright Toothgel</a></li>
                            <li><a href="javascript:void(0);">Aloe Ever Shield Deodorant</a></li>
                            <li><a href="javascript:void(0);">Arctic-sea (super Omega 3)</a></li>
                            <li><a href="javascript:void(0);">Forever Calcium</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>© 2018 Produtos Forever. Todos direitos reservados.</p>
                    <p>Forever Living Products Brasil</p>
                </div>
            </div>
        </div>
    </div>
</div>
