<div class="footer-wrapper">
    <div class="widgets-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/logo-footer.png" alt="Logo">
                    <p>Selmo Silvestre</p>
                    <p>Celular <a href="tel:+55 (62) 98175-2607">+55 (62) 98175-2607</a></p>
                    <p>E-mail <a href="mail:selmocacilda@yahoo.com.br">selmocacilda@yahoo.com.br</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>© 2018 Produtos Forever. Todos direitos reservados.</p>
                    <p>Forever Living Products Brasil</p>
                </div>
            </div>
        </div>
    </div>
</div>
