@import "../../assets/scss/variables";

div.footer-wrapper{
    div.copyright-footer{
        width: 100%;
        height: 100px;
        padding: 31px 0px;
        background: url(../../assets/images/footer-background.png);
        background-position: left center;

        p{
            font-family: $circular-book;
            font-size: 14px;
            color: #FFF;
            margin: 0;
        }
    }

    div.widgets-footer{
        width: 100%;
        padding: 55px 0;

        img{
            max-width: 121px;
            width: 100%;
            margin-bottom: 30px;
        }

        h2{
            font-family: $circular-bold;
            font-size: 24px;
            color: #001f12;
            margin-bottom: 20px;
            margin-top: 30px;
        }

        nav{
            ul{
                padding: 0;
                margin: 0;

                li{
                    list-style-type: none;
                    margin-bottom: 10px;

                    a{
                        color: #516a27;
                    }
                }
            }
        }

        div.container{
            div.row{
                div[class^="col-"]{
                    p{
                        font-family: $circular-bold;
                        font-size: 16px;
                        color: #001f12;

                        &:last-child{
                            margin: 0px;

                            a{
                                margin: 0px;
                            }
                        }

                        a{
                            font-family: $circular-book;
                            color: #516a27;
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
